# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.angular/

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
.gradle/
.gradletasknamecache
local.properties
proguard/
*.jks
*.keystore

# iOS
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
Pods/

# Capacitor
ios/App/Podfile.lock

# Sensitive data
*.env
.env
environment.prod.ts.backup
google-services.json
GoogleService-Info.plist
